[Unit]
Description=lepidopter-update service

[Service]
Type=simple
Environment="UPDATER=/opt/ooni/lepidopter-update/updater/updater.py"
ExecStart=$UPDATER --log-file /var/log/ooni/lepidopter-update.log update --watch
TimeoutStartSec=300
Restart=on-failure

[Install]
WantedBy=multi-user.target
